.calc__box-number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-top: 10px;
    border: 1px solid #CCCCCC {
        left: none;
        right: none;
    }

    select{
        width: 60px;
        height: 30px;
        border: 2px solid $color-blue{
            radius: 5px;
        }

        outline: none;
        cursor: pointer;

        &:focus{
            border: 2px solid $color-blue;
        }

        option{
            cursor: pointer;
        }
    }

    .descr{
        margin-right: 15px;
    }
}