.calc__box-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;

    .price-box{
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;

        span{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 16px;
            color: $color-blue-text;
            text-transform: uppercase;
            line-height: 22px;
        }
    }

    button{
        margin-bottom: 45px;
    }

    
}