
@font-face {
    font-family: 'Bebas Big';
    src: local('Bebas'),
         url('../fonts/Bebas-Thin.ttf') format('truetype'),
         url('../fonts/Bebas-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Thin.woff') format('woff'); 
    font-weight: 100;
    font-style: normal;
}

/* Light */

@font-face {
    font-family: 'Bebas Big';
    src: local('Bebas'),
         url('../fonts/Bebas-Light.ttf') format('truetype'),
         url('../fonts/Bebas-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Light.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

/* Regular */

@font-face {
    font-family: 'Bebas Big';
    src: local('Bebas'),
         url('../fonts/Bebas-Regular.ttf') format('truetype'),
         url('../fonts/Bebas-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Bebas Big';
    src: local('Bebas'),
         url('../fonts/Bebas-Bold.ttf') format('truetype'),
         url('../fonts/Bebas-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

/* Book */

@font-face {
    font-family: 'Bebas Big';
    src: local('Bebas Big'),
         url('../fonts/Bebas-Book.ttf') format('truetype'),
         url('../fonts/Bebas-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas-Book.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../fonts/bebasneuethin.woff2') format('woff2'), url('../fonts/bebasneuethin.woff') format('woff'), url('../fonts/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('../fonts/bebasneuelight.woff2') format('woff2'), url('../fonts/bebasneuelight.woff') format('woff'), url('../fonts/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../fonts/bebasneuebook.woff2') format('woff2'), url('../fonts/bebasneuebook.woff') format('woff'), url('../fonts/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../fonts/bebasneueregular.woff2') format('woff2'), url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../fonts/bebasneuebold.woff2') format('woff2'), url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}